
html {
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    position: relative;
    background-color: #212529;
    margin : 0;
    padding : 0;
    min-height: 100%;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.3em;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url(../img/portfolio.jpeg), url(../img/cmgt_logo.webp);
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: 40% 100%, 60% 100%;
    text-align: center;
    height:100vh;
    color: white;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

nav a {
    background-color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s;
    color: #212529;
}

nav a:hover {
    background-color: maroon;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1500px;
    margin : 0 auto;
    padding: 10px;
    gap: 20px;
}

section {
    background-color:white;
    border-radius: 15px;
}

section:last-of-type {
    margin-bottom: 33vh;
}

.form-input {
    display: flex;
    justify-content: space-between;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #7a8086;
    text-align: center;
    padding: 50px 0px;
    color: #212529;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

footer li {
    background-color: #212529;
    margin: 10px;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

footer a {
    color: white;
}

input, textarea, select {
    padding: 2px;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.3em;
}
  
@media (max-width:767px) {
    body {
        font-size: 1.5em;
    }

    header {
        background-size: 100% 100%, 0% 100%;
    }
    
    nav, nav a, footer ul, footer li {
        display: block;
        width: auto;
    }

    section:last-of-type {
        margin-bottom: 40vh;
    }
    
    .form-input,
    .form-input label {
        display: block;
    }

    input, textarea, select {
        width: 100%;
        font-size: 1em;
    }
}

h1 {
    background-color: rgba(33, 37, 41, 0.5);
    margin: 0;
    border-radius: 5px;
    padding: 5px;
}

h2 {
    background-color: white;
    border-radius: 15px;
    margin: 0;
    padding: 15px;
    color: maroon;
}

h3 {
    background-color: white;
    border-radius: 15px;
    margin: 0;
    padding: 15px;
    color: #212529;
}

p {
    padding: 0 20px;
}

a {
    color: maroon;
}

ul {
    list-style-type: '-  ';
}

form {
    margin: 10px;
}

form div {
    margin: 5px;
}

button {
    background-color: white;
    margin: 20px 0;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.3em;
    transition: background-color 0.5s;
    color: #212529;
}

button:hover {
    background-color: #2125293d;
}

button:active {
    background-color: #2125293d;
    color: maroon;
}
